{% extends 'Message:Mothership:ControlPanel::_templates/cp' %}
{% block main %}
	<hgroup class="title">
		<h1>{{ user.name }} {% if groups %}<span class="flag role">{{ groups }}</span>{% endif %} <span>User #{{ userID }}</span></h1>
	</hgroup>
	<div class="topbar">
		{{ render(controller('Message:Mothership:User::Controller:User:Tabs#tabs', {'userID': userID}))}}
	</div>
	<div class="container-content">
		{% for name, form in addressForms %}
			<section>
				<h2>{{ name | capitalize }} Address</h2>
				{{ form_start(form) }}
					{{ form_rest(form) }}
					<button type="submit" class="button small save">Update {{ name }} address</button>
				{{ form_end(form) }}
			</section>
		{% endfor %}
	</div>
{% endblock %}