{% extends 'Message:Mothership:User::User:listing:view' %}

{% block main %}

<hgroup class="title">
	<h1>Update User</h1>
</hgroup>

{{ render(controller('Message:Mothership:User::Controller:User:Menu#index', {'userID':user.id}))}}

<div class="container-content extended">

	{{ 'Billing Address '}}

	{{ form_start(billingform) }}
		{{ form_rest(billingform) }}
		<button type="submit" class="button small save">Update</button>
	{{ form_end(billingform) }}


	{{ 'Delivery Address '}}

	{{ form_start(deliveryform) }}
		{{ form_rest(deliveryform) }}
		<button type="submit" class="button small save">Update</button>
	{{ form_end(deliveryform) }}

</div>

{% endblock %}