{% extends 'Message:Mothership:User::user:listing:view' %}
{% block main %}
	<hgroup class="title">
		<h1>{{ user.name }} {% if groups %}<span class="flag role">{{ groups }}</span>{% endif %} <span>User #{{ userID }}</span></h1>
	</hgroup>
	<div class="topbar">
		{{ render(controller('Message:Mothership:User::Controller:User:Tabs#tabs'))}}
	</div>
	<div class="container-content short">
		<div class="group-grid">
			<div class="row">
				{% for name, form in addressForms %}
				<div class="group">
					<h2 class="title"> {{ name | capitalize }} Address</h2>
					<div class="content">
						{{ form_start(form) }}
							{{ form_rest(form) }}
							<button type="submit" class="button small save">Update {{ name }} address</button>
						{{ form_end(form) }}
					</div>
				</div>
				{% endfor %}
				{#<div class="group">#}
					{#<h2 class="title"> Delivery Address</h2>#}
					{#<div class="content">#}
						{#{{ form_start(deliveryform) }}#}
							{#{{ form_rest(deliveryform) }}#}
							{#<button type="submit" class="button small save">Update delivery address</button>#}
						{#{{ form_end(deliveryform) }}#}
					{#</div>#}
				{#</div>#}
			</div>
		</div>
	</div>
{% endblock %}