{% extends 'Message:Mothership:ControlPanel::_templates/cp' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
		'@Message:Mothership:User::resources/assets/css/user.css'

		output='/assets/css/ms_user.css'
		filter='csscogulerewrite,?cssmin'
	%}
		<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}

{% block main %}
	<hgroup class="title">
		<h1>Add a new user</h1>
	</hgroup>
	<div class="container-content">
		{{ form_start(newuser) }}
			{{ form_rest(newuser) }}
				<button type="submit" class="button small save" id="save-content">Create user</button>
		{{ form_end(newuser) }}
	</div>
{% endblock %}