{% extends 'Message:Mothership:ControlPanel::_templates/cp' %}
{% block main %}
	<hgroup class="title">
		<h1>{{ user.name }} {% if groups %}<span class="flag role">{{ groups }}</span>{% endif %} <span>User #{{ userID }}</span> </h1>
	</hgroup>
	<div class="topbar">
		{{ render(controller('Message:Mothership:User::Controller:User:Tabs#tabs', {'userID': userID}))}}
	</div>
	<div class="container-content">
		<h2>Groups</h2>
		{{ form_start(groupsForm) }}
			{{ form_widget(groupsForm.groups) }}
			<button type="submit" class="button small save" id="save-content">Save changes</button>
		{{ form_end(groupsForm) }}
	</div>
{% endblock %}