<div class="topbar">
	<ul class="tabs">
		{% for name, url in tabs %}
			<li class="{{ name == current ? 'active' : '' }}"><a href="{{ url }}" data-live>{{ name }}</a></li>
		{% endfor %}
	</ul>
</div>


{#

<div class="topbar">
	<ul class="tabs">
		<li>
			<a href="{{ url('ms.user.admin.detail.edit', {userID: user.id}) }}" data-live>Details</a>
		</li>
		<li>
			<a href="{{ url('ms.user.admin.address.edit', {userID: user.id}) }}" data-live>Addresses</a>
		</li>
		<li>
			<a href="{{ url('ms.user.admin.order-history', {userID: user.id}) }}" data-live>Order History</a>
		</li>
	</ul>
</div>

#}