
<section>
	<h1>Account Detail</h1>
	<ul>
		<li><span>Title</span> {{user.title}}</li>
		<li><span>Name</span> {{user.forename}} {{ user.surname }}</li>
		<li><span>E-Mail-Address</span> {{ user.email }}</li>
	</ul>
</section>
{% if billingAddress %}
	{% set address = billingAddress %}
	{% include 'Message:Mothership:Commerce::order:detail:address:detail' %}
{% endif %}

{% if deliveryAddress %}
	{% set address = deliveryAddress %}
	{% include 'Message:Mothership:Commerce::order:detail:address:detail' %}
{% endif %}


<p>
	<li>Send me E-Mail updates?</li>
</p>

<div>
	<ul>
		<li><a href="{{ url('ms.user.edit') }}">Edit account details</a></li>
		<li><a href="{{ url('ms.user.order.listing') }}">Show order history</a></li>
		<li><a href="">Return an item</a></li>
	</ul>
</div>