<p>Name: <br />
	{{ user.forename }} {{ user.surname }}</p>

<p>Email:<br />
	{{ user.email }}</p>

<p>Telephone:<br />
	{{ billingaddress.telephone }} </p>

<p>Billing Address: <br />

	{% for line in billingaddress.lines if line %}
		{{ line }} <br />
	{% endfor %}

	{{ billingaddress.town }} <br />

	{% if billingaddress.stateID %}
		{{ billingaddress.stateID }} <br />
	{% endif %}

	{{ billingaddress.postcode }} <br />

	{{ billingaddress.country }} </p>

<p>Billing telephone:<br />
	{{ billingaddress.telephone }} </p>

<p>Delivery Address: <br />

	{% for line in deliveryaddress.lines if line %}
		{{ line }} <br />
	{% endfor %}

	{{ deliveryaddress.town }} <br />

	{% if deliveryaddress.stateID %}
		{{ deliveryaddress.stateID }} <br />
	{% endif %}

	{{ deliveryaddress.postcode }} <br />

	{{ deliveryaddress.country }} </p>

<p>Delivery telephone:<br />
	{{ deliveryaddress.telephone }} </p>

<p>Send me email updates: <br />
	??</p>


<a href ="">Edit account details</a><br />
<a href ="">Show order history</a><br />
<a href ="">Return an item</a><br />