
<section>
	<h1>Account Detail</h1>
	<ul>
		<li><span>Title</span> {{user.title}}</li>
		<li><span>Name</span> {{user.forename}} {{ user.surname }}</li>
		<li><span>E-Mail-Address</span> {{ user.email }}</li>
	</ul>

	<p><a href="{{ url('ms.user.detail.edit') }}">Change Detail</a></p>
</section>
{% if billingAddress %}
	{% set address = billingAddress %}
	{% include 'Message:Mothership:Commerce::order:detail:address:detail' %}

	<form action="{{ url('ms.user.address.delete', {'type': 'billing'}) }}" method="post" id="delete">
	    <input type="hidden" name="_method" value="DELETE">
	    <button name="delete[delete]" value="delete" id="delete" type="submit" class="button small delete">{{ 'Delete'|trans }}</button>
	</form>
{% endif %}

<p><a href="{{ url('ms.user.address.edit', {'type': 'billing'}) }}">{{ billingAddress ? "Update" : "Create" }} Billing Address</a></p>


{% if deliveryAddress %}
	{% set address = deliveryAddress %}
	{% include 'Message:Mothership:Commerce::order:detail:address:detail' %}

	<form action="{{ url('ms.user.address.delete', {'type': 'discount'}) }}" method="post" id="delete">
	    <input type="hidden" name="_method" value="DELETE">
	    <button name="delete[delete]" value="delete" id="delete" type="submit" class="button small delete">{{ 'Delete'|trans }}</button>
	</form>
{% endif %}
<p><a href="{{ url('ms.user.address.edit', {'type': 'delivery'}) }}">{{ deliveryAddress ? "Update" : "Create" }} Delivery Address</a></p>

<p>
	<li>Send me E-Mail updates?</li>
</p>

<div>
	<ul>
		<li><a href="{{ url('ms.user.edit') }}">Edit account details</a></li>
		<li><a href="{{ url('ms.user.order.listing') }}">Show order history</a></li>
		<li><a href="">Return an item</a></li>
	</ul>
</div>