{% extends 'Message:Mothership:User::Account:account-layout' %}

{% block menu %}
<div>
	<ul>
		<li><a href="{{ url('ms.user.edit') }}">Edit account details and settings</a></li>
		<li><a href="{{ url('ms.user.order.listing') }}">Show order history</a></li>
	</ul>
</div>
{% endblock %}

{% block content %}
<section>
	<h1>Account Detail</h1>
	<ul>
		{% if user.title %}
			<li><span>Title</span> {{user.title}}</li>
		{% endif %}
		<li><span>Name</span> {{user.forename}} {{ user.surname }}</li>
		<li><span>E-Mail-Address</span> {{ user.email }}</li>
	</ul>
</section>

{% if billingAddress %}
	{% set address = billingAddress %}
	{% include 'Message:Mothership:Commerce::order:detail:address:detail' %}
{% endif %}

{% if deliveryAddress %}
	{% set address = deliveryAddress %}
	{% include 'Message:Mothership:Commerce::order:detail:address:detail' %}
{% endif %}
<p>
	<li>Send me E-Mail updates? {{ subscribed }} </li>
</p>
{% endblock %}
