{{ 'Account Details '}}

{{ form_start(accountdetails) }}
	{{ form_rest(accountdetails) }}
	<button type="submit">Update</button>
{{ form_end(accountdetails) }}


{{ 'Billing Address '}}

{{ form_start(billingform) }}
	{{ form_rest(billingform) }}
	<button type="submit">Update</button>
{{ form_end(billingform) }}


{{ 'Delivery Address '}}

{{ form_start(deliveryform) }}
	{{ form_rest(deliveryform) }}
	<button type="submit">Update</button>
{{ form_end(deliveryform) }}
