{{ 'Account Details '}}

{{ form_start(detailForm) }}
	{{ form_rest(detailForm) }}
	<button type="submit">Update</button>
{{ form_end(detailForm) }}


{{ 'Billing Address '}}

{{ form_start(billingForm) }}
	{{ form_rest(billingForm) }}
	<button type="submit">Update</button>
{{ form_end(billingForm) }}


{{ 'Delivery Address '}}

{{ form_start(deliveryForm) }}
	{{ form_rest(deliveryForm) }}
	<button type="submit">Update</button>
{{ form_end(deliveryForm) }}
