<h1>Order Details</h1>
<table>
	<thead>
		<tr>
			<th>Order id</th>
			<th>Created at</th>
			<th>Order status</th>
			<th>VAT registration number</th>
			<th>seller</th>
			<th>customer</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td> {{ order.orderID }} </td>
			<td> {{ order.authorship.createdAt|date }} </td>
			<td> {{ order.status.name }} </td>
			<td> </td>
			<td> Uniform Wares <br />
				 Studio 12A <br />
				 London <br />
				 E8 4TS	</td>
			<td> {{ order.user.title }} {{ order.user.forename }} {{ order.user.surname }}
			<br /> 
				 {{ address.name }} <br /> 
			   	 {% for line in address.lines if line %}
   					{{ line }} <br />
				 {% endfor %}
				 {{ address.town }} <br /> 
				 {% if address.state %}
					{{ address.state }} <br />
				 {% endif %}
				 {{ address.postcode }} <br /> 
				 {{ address.country }} </td>
		</tr>
	</tbody>
</table>

<p>Order Tracking: <br />
	<a href ="">Track this package (ref:??) at ???</a>
{% set items = order.items %}
{% include 'Message:Mothership:Commerce::order:detail:item:summary' %}

<hgroup class="title">
		<h1>Returns</h1>
	</hgroup>
	
	<div class="container-content">
	{% if not returns is empty %}
		<table class="return-listing">
			<thead>
			<tr>
				<th><span>Item</span></th>
				<th><span>SKU</span></th>
				<th><span>Reason</span></th>
				<th><span>Status</span></th>
				<th><span>Balance</span></th>
			</tr>
			</thead>
			<tbody>
				{% for return in returns %}
					<tr>
						<td>{{ return.item.productName }}</a></td>
						<td>{{ return.item.sku }}</td>
						<td>{{ return.reason }}</td>
						<td>{{ return.item.status }}</td>
						<td>{{ return.balance|price }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>{{ 'ms.commerce.return.status.none'|trans }}</p>
	{% endif %}
	</div>